body, html {
  height: 100%;
  margin: 0;
  font-family: 'Gotu', cursive;
}

.App {
  text-align: center;
}

.Header {
  background-image: url("haschi.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e42f7a;
}

.Title {
  margin: 0;
  padding: 0 2vw;
  text-align: left;
  font-size: calc(0.1em + 11vw);
  line-height: 100%;
  font-family: 'Gotu', cursive;
  color: #FFFFFFDD;
  text-shadow: 2px 2px #00000050;
}

.Content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 2vw;
}

.Purpose {
  width: 576px;
  text-align: left;
}

.Instructions {
  width: 476px;
  text-align: left;
  padding: 20px;
  /* https://9elements.github.io/fancy-border-radius */
  border-radius: 94% 6% 94% 6% / 6% 94% 6% 94%  ;
  /* https://cssgradient.io/ */
  background: rgb(255,174,0);
  background: linear-gradient(0deg, rgba(255,174,0,1) 10%, rgba(228,47,122,1) 100%);
}

.Instructions .Subtitle {
  font-weight: bold;
  color: #FFFFFF;
  text-transform: uppercase;
}

.Instructions .Link {
  color: #000000;
  font-weight: bold;
}

.Instructions .Link:hover {
  color: #FFFFFF;
}

.Player {
  height: 100%;
  width: 90%;
  padding-top: 24px;
}

.Lyrics {
  color: #777777;
  font-style: italic;
  font-size: larger;
  padding: 0 12px;
  margin-bottom: 8px;
}

.Lyrics .Subtitle {
  color: #777777;
  font-style: normal;
  font-weight: bold;
}

.Footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 3px 0;
  background-color: #e42f7a;
  color: #ffffff;
  font-size: smaller;
}

.Footer .Link {
  color: #FFFFFF;
  text-decoration: none;
}

.Footer:hover .HeartIcon, 
.Footer:hover .Link{
  color: #ffae00;
}
 
.Footer:hover .Link{
  text-decoration: underline;
}
